<%- include('partials/base.ejs') %>
<body>
  <div class="container mb-5">
    <div id="fValidationNotif" class="alert alert-danger f-hidden">
      <!-- Validation Message Goes here -->
    </div>
    
    <div id="header-title" class="d-flex justify-content-center my-3 rounded">
      <h1 class="center f-title">Enrollment Form</h1>
    </div>
    <div class="row d-flex justify-content-left">
      <!-- Form begins here -->
      <form id="enrollmentForm" action="" method="post">
        <div class="form-group">
          <h4 class="f-txt-col-1">Details</h4>
          <div class="row input-group mb-3 card" id="details">
            <div class="card-body px-3 pb-4">
              <div class="my-1">
                <input type="text" id="externalFormId" class="form-control" name="external_form_id" data-fName="External Form Id" placeholder="Optional External Form ID">
              </div>
              <div class="my-1">
                <label for="firstName">First Name <span class="text-danger">*</span></label>
                <input type="text" id="firstName" class="form-control" name="first_name" data-fName="First Name" required>
              </div>
              <div class="my-3">
                <label for="middleName">Middle Name</label>
                <input type="text" id="middleName" class="form-control" name="middle_name" placeholder="optional">
              </div>
              <div class="my-3">
                <label for="lastName">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="lastName" name="last_name" required>
              </div>
              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">+91</span>
                </div>
                <input type="tel" pattern="[0-9]{10}" class="form-control" id="phoneNumber" name="mobile_number" placeholder="Mobile or Whatsapp Number" required>
              </div>
              <div class="row mt-3">
                <div class="col-sm my-1">
                  <label for="number_of_family_members">Number of Family Members <span class="text-danger">*</span></label>
                  <input name="number_of_family_members" type="number" min="0" max="10" class="form-control" value="4" required>
                </div>
                <div class="col-sm my-1">
                  <label for="number_of_electors">Number of Electors</label>
                  <input name="number_of_electors" type="number" min="0" max="10" class="form-control" value="4">
                </div>
                <div class="col-sm my-1">
                  <label for="number_of_new_electors">Number of New Electors</label>
                  <input name="number_of_new_electors" type="number" min="0" max="10" class="form-control" value="4">
                </div>
              </div>
              <div class="mt-1">
                <label class="py-2" for="associationName">Name of the Association</label>
                <select name="association_name" id="associationName" class="form-control custom-select">
                  <% options.associations.forEach(association => { %>
                    <option value="<%= association.value %>"><%= association.value %></option>
                  <% }) %>
                </select>
              </div>
              <div class="mt-2">
                <label class="py-2" for="statusOfEmployment">Status of Employment</label>
                <select name="status_of_employment" id="statusOfEmployment" class="form-control custom-select">
                  <option value="Working">Working</option>
                  <option value="Retired">Retired</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Card 2 Residential Address -->
          <h4 class="f-txt-col-1">Residential Address</h4>
          <div class="my-3" id="residentialAddress">
            <div class="row card input-group mb-3 py-3 px-3">
              <div class="row card-body" id="f-ra-p1">
                <div class="col-sm">
                  <label for="districtName">District <span class="text-danger">*</span></label>
                  <select name="district" id="districtName" class="form-control mx-3 custom-select" required>
                    <% options.districts.forEach(district => { %>
                      <option value="<%= district.value %>"><%= district.value %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="municipalityName">Municipality <span class="text-danger">*</span></label>
                  <select name="municipality" id="municipalityName" class="mx-3 form-control custom-select" required>
                    <% options.municipalities.forEach(municipality => {%>
                      <option value="<%= municipality.value %>"><%= municipality.value %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="blockName">Block <span class="text-danger">*</span></label>
                  <select name="block" id="blockName" class="form-control mx-3 custom-select" required>
                    <% options.blocks.forEach(block => { %>
                      <option value="<%= block.value %>"><%= block.value %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="gp">Gram Panchayat <span class="text-danger">*</span></label>
                  <select name="gp" id="gp" class="form-control mx-3 custom-select" required>
                    <% options.gps.forEach(gp => { %>
                      <option value="<%= gp.value %>"><%= gp.value %></option>
                    <% }) %>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="villageName">Village/Para/Ward Number <span class="text-danger">*</span></label>
                  <input type="text" name="village" id="villageName" class="form-control mx-3" required>
                </div>
              </div>
              <div class="row card-body" id="f-ra-p2">
                <div class="col-sm">
                  <label for="landMark">Landmark</label>
                  <input type="text" name="landmark" id="landMark" class="form-control">
                </div>
              </div>
              <div class="row card-body" id="f-ra-p3">
                <div class="col-sm">
                  <label for="remarksContent">Remarks</label>
                  <textarea name="remarks" id="remarksContent" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-warning rounded" id="nextPage">Next Page</button>
      </form>
    </div>
  </div>
</body>
<style>
  #header-title {
    background-color: #832BCF;
    font-size: 1.5rem;
    height: 100px;
    align-items: center;
  }
  .f-title {
    font-size: 2rem;
    color: #f5f5f4;
  }
  .f-txt-col-1 {
    color: #753EA5
  }
  .f-col-1 {
    background-color: #832BCF;
  }

  .f-col-2 {
    background-color: #753EA5;
  }

  .f-col-3 {
    background-color: #8B0BFB;
  }

  .f-col-4 {
    background-color: #60427A;
  }
  .f-error {
    display: block;
    border: 1px solid red;
  }

  .f-hidden {
    display: none;
  }
</style>
<script src="/js/pages/enrollment.js"></script>

