<%- include ('partials/base.ejs') %>

<body>
  <div class="container mb-5">
    <div id="header-title" class="d-flex justify-content-center my-3">
      <h1 class="center f-title">Evaluation Form</h1>
    </div>

    <div class="row d-flex justify-content-left">
      <form id="evaluationForm" action="" method="post">
        <div class="form-group">
          <div class="row input-group mb-3 card">

            <!-- Card Body -->
            <div class="card-body px-3 pb-4">
              <% options.forEach(function(object, index) { %>
              <label id="<%= object.name %>" class="py-2"><%= object.question %></label>
              <% if (object.values != null) { %>
              <select name="<%= object.name %>" class="form-control custom-select" data-index="<%= index %>">
                <% object.values.forEach(function(value) { %>
                <option value="<%= value %>"><%= value %></option>
                <% }); %>
              </select>
              <% } else { %>
              <% if (object.type === "large") { %>
              <textarea name="<%= object.name %>" class="form-control" rows="3" data-index="<%= index %>"></textarea>
              <% } else { %>
              <input type="text" name="<%= object.name %>" class="form-control" data-index="<%= index %>">
              <% } %>
              <% } %>
              <% }); %>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-warning rounded">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>

<script src="/js/pages/evaluation.js"></script>>
<style>
   #header-title {
    background-color: #832BCF;
    font-size: 1.5rem;
    height: 100px;
    align-items: center;
    border-radius: 4%;
  }
  .f-title {
    font-size: 2rem;
    color: #f5f5f4;
  }

.f-txt-col-1 {
    color: #753EA5
  }
</style>