<%- include('partials/base.ejs') %>

<body>
  <div class="container mb-5">

    <div id="header-title" class="d-flex justify-content-center my-3">
      <h1 class="center f-title">Detail Information</h1>
    </div>

    <div class="row d-flex justify-content-center">
      <form id="detailForm" action="" method="post" class="col-lg-8">
        <!-- Personal Details -->
        <div class="card mb-4">
          <div class="card-header">
            <h4 class="f-txt-col-1">Personal Details</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" class="form-control" name="fullname" readonly value="<%= data.fullname %>">
            </div>
            <div class="form-group mb-3">
              <label for="nickName">Nick Name</label>
              <input type="text" id="nickName" class="form-control" name="nickname" placeholder="optional">
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="dob" class="py-1">Date Of Birth</label>
                <input type="date" id="dob" class="form-control" name="dob">
              </div>
              <div class="col-md-6 mb-3">
                <label class="py-1" for="caste">Caste</label>
                <select name="caste" id="caste" class="form-control custom-select">
                  <option value="SC">SC</option>
                  <option value="ST">ST</option>
                  <option value="OBC">OBC</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label class="py-1" for="religion">Religion</label>
                <select name="religion" id="religion" class="form-control custom-select">
                  <option value="Hinduism">Hinduism</option>
                  <option value="Muslim">Muslim</option>
                  <option value="Christian">Christian</option>
                  <option value="Jain">Jain</option>
                  <option value="Buddhist">Buddhist</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="py-2" for="designation">Designation</label>
              <select name="designation" id="designation" class="form-control custom-select">
                <% options.designations.forEach(designation => { %>
                <option value="<%= designation.value %>"><%= designation.value %></option>
                <% }) %>
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="py-2" for="natureOfJob">Nature of Employment</label>
              <select name="nature_of_job" id="natureOfJob" class="form-control custom-select">
                <option value="Permanent">Permanent</option>
                <option value="Contractual">Contractual</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Additional Details -->
        <div class="card mb-4">
          <div class="card-header">
            <h4 class="f-txt-col-1">Additional Details</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="contactLeaderName">Name of the Leader you are regularly in touch with</label>
              <input type="text" id="contactLeaderName" class="form-control" name="contact_leader_name">
            </div>
          </div>
        </div>

        <!-- Employment Details -->
        <div class="card mb-4">
          <div class="card-header">
            <h4 class="f-txt-col-1">Employment</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="employmentOrganizationName">Employment Organization Name</label>
              <input type="text" id="employmentOrganizationName" class="form-control" name="employment_organization_name">
            </div>
            <div class="form-group mb-3">
              <label class="py-2" for="statusOfEmployment">Status of Employment</label>
              <select name="status_of_employment" id="statusOfEmployment" class="form-control custom-select" disabled>
                <option value="Working" <%= data.status_of_employment === 'Working' ? 'selected' : '' %>>Working</option>
                <option value="Retired" <%= data.status_of_employment === 'Retired' ? 'selected' : '' %>>Retired</option>
              </select>
            </div>
            <div class="form-group mb-3" id="dateOfJoining">
              <label for="dateOfJoining">Date Of Joining</label>
              <input type="date" id="dateOfJoining" class="form-control" name="date_of_joining">
            </div>
            <div id="retiredSection" class="f-hidden">
              <div class="form-group mb-3">
                <label for="oppositionMembership">During service, did you take membership of any other opposition? <span class="text-danger">*</span></label>
                <select name="had_taken_opposition_membership" id="oppositionMembership" class="form-control custom-select" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="tradeUnionRight">Did Trade Union Rights exist at the time of your service? <span class="text-danger">*</span></label>
                <select name="trade_union_right_on" id="tradeUnionRight" class="form-control custom-select" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="has_played_leadership_role">Did you play any leadership role during your service? <span class="text-danger">*</span></label>
                <select name="has_played_leadership_role" id="hasPlayedLeadershipRole" class="form-control custom-select" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                </select>
              </div>
              <div class="form-group mb-3 f-hidden" id="whichStageWrapper">
                <label for="whichStage">If yes, at which stage?</label>
                <select name="played_leadership_role_stage" id="whichStage" class="form-control custom-select">
                  <option value="SCC">SCC</option>
                  <option value="Samiti">Samiti</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Residential Address -->
        <div class="card mb-4">
          <div class="card-header">
            <h4 class="f-txt-col-1">Residential Address</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="districtName">District</label>
                <select name="district" id="districtName" class="form-control mx-3 custom-select">
                  <% options.districts.forEach(district => { %>
                    <option value="<%= district.value %>"><%= district.value %></option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="municipalityName">Municipality</label>
                <select name="municipality" id="municipalityName" class="mx-3 form-control custom-select">
                  <% options.municipalities.forEach(municipality => {%>
                    <option value="<%= municipality.value %>"><%= municipality.value %></option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="blockName">Block</label>
                <select name="block" id="blockName" class="form-control mx-3 custom-select">
                  <% options.blocks.forEach(block => { %>
                    <option value="<%= block.value %>"><%= block.value %></option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="gp">Gram Panchayat</label>
                <select name="gp" id="gp" class="form-control mx-3 custom-select">
                  <% options.gps.forEach(gp => { %>
                    <option value="<%= gp.value %>"><%= gp.value %></option>
                  <% }) %>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="villageName">Village/Para/Ward Number</label>
                <input type="text" name="village" id="villageName" class="form-control">
              </div>
              <div class="col-md-6 mb-3">
                <label for="landMark">Landmark</label>
                <input type="text" name="landmark" id="landMark" class="form-control">
              </div>
              <div class="col-md-12 mb-3">
                <label for="remarksContent">Remarks</label>
                <textarea name="remarks" id="remarksContent" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>

        <button type="button" id="nextPageBtn" class="btn btn-warning rounded">Next Page</button>
      </form>
    </div>
  </div>
</body>

<link rel="stylesheet" href="/css/pages/information1.css">
<script src="/js/pages/information1.js"></script>
</html>
