<%- include('partials/base.ejs') %>

<body>
  <div class="container mb-5">
    <div id="fValidationNotif2" class="alert alert-info f-hidden">
      Field is mandatory!
    </div>
    <div id="header-title" class="d-flex justify-content-center my-3">
      <h1 class="center">Detail Information</h1>
    </div>
    <div class="row d-flex justify-content-left">
      <form id="detailForm" action="" method="post">
        <div class="form-group">
          <h4>Personal Details</h4>
          <div class="row input-group mb-3 card" id="details">
            <div class="card-body px-3 pb-4">
              <div class="my-1">
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" class="form-control" name="fullname" readonly value="<%= data.fullname %>">
              </div>
              <div class="my-3">
                <label for="nickName">Nick Name</label>
                <input type="text" id="nickName" class="form-control" name="nickname" placeholder="optional">
              </div>
              <div class="row">
                <div class="col col-sm my-2">
                  <label for="dob" class="py-1">Date Of Birth</label>
                  <input type="date" id="dob" class="form-control" name="dob">
                </div>
                <div class="col col-sm my-2">
                  <label class="py-1" for="caste">Caste</label>
                  <select name="caste" id="caste" class="form-control custom-select">
                    <option value="SC">SC</option>
                    <option value="ST">ST</option>
                    <option value="OBC">OBC</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
                <div class="col col-sm my-2">
                  <label class="py-1" for="religion">Religion</label>
                  <select name="religion" id="religion" class="form-control custom-select">
                    <option value="SC">SC</option>
                    <option value="Hindi">Hindi</option>
                    <option value="Muslim">Muslim</option>
                    <option value="Christian">Christian</option>
                    <option value="Jain">Jain</option>
                    <option value="Buddhist">Buddhist</option>
                    <option value="Other">Other</option>
                  </select>
                </div>
              </div>
              <div class="mt-2">
                <label class="py-2" for="designation">Designation</label>
                <select name="designation" id="designation" class="form-control custom-select">
                  <!-- (Designation options go here) -->
                  <% designations.forEach(designation => { %>
                  <option value="<%= designation %>"><%= designation %></option>
                  <% }) %>
                </select>
              </div>
              <div class="mt-2">
                <label class="py-2" for="natureOfJob">Nature of Employment</label>
                <select name="nature_of_job" id="natureOfJob" class="form-control custom-select">
                  <option value="Permanent">Permanent</option>
                  <option value="Contractual">Contractual</option>
                </select>
              </div>
            </div>
          </div>

          <h4>Additional Details</h4>
          <div class="row input-group mb-3 card">
            <div class="card-body py-3 pb-4">
              <div class="my-3 col-sm">
                <label for="contactLeaderName">Name of the Leader who you are regularly in touch with</label>
                <input type="text" id="contactLeaderName" class="form-control" name="contact_leader_name" value="Frank Brano Gomes">
              </div>
            </div>
          </div>

          <h4>Employment</h4>
          <div class="row input-group mb-3 card">
            <div class="card-body py-3 pb-4">
              <div class="my-3 col-sm">
                <label for="associationName">Association Name</label>
                <select name="employment_organization_name" id="associationName" class="form-control custom-select">
                  <option value="Kalimpong Association">Kalimpong Association</option>
                  <option value="Darjeeling Association">Darjeeling Association</option>
                  <option value="Kurseong Association">Kurseong Association</option>
                  <option value="Sano Thimi Association">Sano Thimi Association</option>
                </select>
              </div>
              <div class="my-3 col-sm">
                <label class="py-2" for="statusOfEmployment">Status of Employment</label>
                <select name="status_of_employment" id="statusOfEmployment" class="form-control custom-select disabled" disabled>
                  <option value="Working" <%= data.status_of_employment === 'Working' ? 'selected' : '' %>>Working</option>
                  <option value="Retired" <%= data.status_of_employment === 'Retired' ? 'selected' : '' %>>Retired</option>
                </select>
              </div>
              <div class="my-3" id="dateOfJoining">
                <label for="dateOfJoining">Date Of Joining</label>
                <input type="date" id="dateOfJoining" class="form-control" name="date_of_joining">
              </div>
              <div class="card-body py-3 pb-4" id="retiredSection">
                <div class="my-3 col-sm">
                  <label for="oppositionMembership">During service whether you have taken membership of any other opposition?</label>
                  <select name="had_taken_opposition_membership" id="oppositionMembership" class="form-control custom-select">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                  </select>
                </div>
                <div class="my-3 col-sm">
                  <label for="tradeUnionRight">Whether the Trade Union Right existed at the time of your service?</label>
                  <select name="trade_union_right_on" id="tradeUnionRight" class="form-control custom-select">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                  </select>
                </div>
                <div class="my-3 col-sm">
                  <label for="has_played_leadership_role">Whether you played any leadership role at the time of your service?</label>
                  <select name="has_played_leadership_role" id="hasPlayedLeadershipRole" class="form-control custom-select">
                    <option value="Yes">Yes</option>
                    <option value="No" selected>No</option>
                  </select>
                </div>
                <div class="my-3 col-sm alert f-hidden" id="whichStageWrapper">
                  <label for="whichStage">If yes, at which stage?</label>
                  <select name="played_leadership_role_stage" id="whichStage" class="form-control custom-select">
                    <option value="SCC">SCC</option>
                    <option value="Samiti">Samiti</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <h4>Residential Address</h4>
          <div class="my-3" id="residentialAddress">
            <div class="row card input-group mb-3 py-3 px-3">
              <div class="row card-body" id="f-ra-p1">
                <div class="col-sm">
                  <label for="districtName">District</label>
                  <select name="district" id="districtName" class="form-control mx-3 custom-select">
                    <option value="KPG">Kalimpong</option>
                    <option value="DRJ">Darjeeling</option>
                    <option value="KUR">Kurseong</option>
                    <option value="TIM">Sano Thimi</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="municipalityName">Municipality</label>
                  <select name="municipality" id="municipalityName" class="mx-3 form-control custom-select">
                    <option value="Pudung">Pudung</option>
                    <option value="Pedong">Pedong</option>
                    <option value="Eagles Den">Eagles Den</option>
                    <option value="Thimi">Thimi</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="blockName">Block</label>
                  <select name="block" id="blockName" class="form-control mx-3 custom-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="gp">Gram Panchayat</label>
                  <select name="gp" id="gp" class="form-control mx-3 custom-select">
                    <option value="P1">P1</option>
                    <option value="P2">P2</option>
                    <option value="P3">P3</option>
                    <option value="P4">P4</option>
                  </select>
                </div>
                <div class="col-sm">
                  <label for="villageName">Village/Para/Ward Number</label>
                  <input type="text" name="village" id="villageName" class="form-control mx-3">
                </div>
              </div>
              <div class="row card-body" id="f-ra-p2">
                <div class="col-sm">
                  <label for="landMark">Landmark</label>
                  <input type="text" name="landmark" id="landMark" class="form-control">
                </div>
              </div>
              <div class="row card-body" id="f-ra-p3">
                <div class="col-sm">
                  <label for="remarksContent">Remarks</label>
                  <textarea name="remarks" id="remarksContent" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
        <button type="button" id="nextPageBtn" class="btn btn-warning rounded">Next Page</button>
      </form>
    </div>
  </div>
</body>

<style>
  .f-error {
    display: block;
    border: 1px solid red;
  }

  .f-hidden {
    opacity: 0;
    display: none;
    transition: opacity 2s ease;
  }

  .f-visible {
    opacity: 1;
    display: block;
  }
</style>

<script>
  $(document).ready(function() {
    var alert = $('#fValidationNotif2');
    alert.addClass('f-hidden');

    $('#fullName').blur(function() {
      var fullName = $(this).val();
      if (fullName === "") {
        $(this).addClass('f-error');
        alert.removeClass('f-hidden');
      } else {
        $(this).removeClass('f-error');
        alert.addClass('f-hidden');
      }
    });

    var retiredSection = $('#retiredSection');
    var dateOfJoining = $('#dateOfJoining');
    var statusOfEmployment = $('#statusOfEmployment');

    function handleEmploymentStatus() {
      var status = statusOfEmployment.val();
      if (status === 'Working') {
        retiredSection.addClass('f-hidden');
        dateOfJoining.removeClass('f-hidden');
      } else {
        retiredSection.removeClass('f-hidden');
        dateOfJoining.addClass('f-hidden');
      }
    }

    handleEmploymentStatus();

    var leadershipRoleProp = $('#hasPlayedLeadershipRole');
    var followUpQuestion = $('#whichStageWrapper');

    leadershipRoleProp.change(function() {
      var answer = $(this).val();
      if (answer === 'Yes') {
        followUpQuestion.removeClass('f-hidden').addClass('f-visible');
      } else {
        followUpQuestion.addClass('f-hidden').removeClass('f-visible');
      }
    });

    // prefill district address data
    $.ajax({
      url: '/session-data',
      method: 'GET',
      success: function(formData) {
        var address = formData.addresses[0];
        $('#districtName').val(address.district);
        $('#municipalityName').val(address.municipality);
        $('#blockName').val(address.block);
        $('#gp').val(address.gp);
        $('#villageName').val(address.village);
        $('#landMark').val(address.landmark);
        $('#remarksContent').val(address.remarks);
      }
    });

    $('#nextPageBtn').click(function(event) {
      console.log('next page from information 1')
      event.preventDefault();
      const formData = collectFormData();
      console.log(formData); // Debugging - see the collected data object
      $.ajax({
        url: '/information1', // Change to your endpoint
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function(response) {
          // Handle the response
          console.log(response);
          if (response.success) {
            window.location.href = response.redirect;
          }
        },
        error: function(error) {
          // Handle the error
          console.error(error);
        }
      });
    });

    function collectFormData() {
      const form = $('#detailForm');
      const formData = {
        fullname: form.find('[name="fullname"]').val(),
        nickname: form.find('[name="nickname"]').val(),
        dob: form.find('[name="dob"]').val(),
        caste: form.find('[name="caste"]').val(),
        religion: form.find('[name="religion"]').val(),
        contact_leader_name: form.find('[name="contact_leader_name"]').val(),
        status_of_employment: form.find('[name="status_of_employment"]').val(),
        had_taken_opposition_membership: form.find('[name="had_taken_opposition_membership"]').val(),
        trade_union_right_on: form.find('[name="trade_union_right_on"]').val(),
        has_played_leadership_role: form.find('[name="has_played_leadership_role"]').val(),
        played_leadership_role_stage: form.find('[name="played_leadership_role_stage"]').val(),
        job_details: {
          designation: form.find('[name="designation"]').val(),
          nature_of_job: form.find('[name="nature_of_job"]').val(),
          date_of_joining: form.find('[name="date_of_joining"]').val(),
          employment_organization_name: form.find('[name="employment_organization_name"]').val()
        },
        addresses: [{
          district: form.find('[name="district"]').val(),
          municipality: form.find('[name="municipality"]').val(),
          block: form.find('[name="block"]').val(),
          gp: form.find('[name="gp"]').val(),
          village: form.find('[name="village"]').val(),
          landmark: form.find('[name="landmark"]').val(),
          remarks: form.find('[name="remarks"]').val()
        }]
      };

      return formData;
    }

  });
</script>
