<%- include('partials/base.ejs') %>

<body>
  <div class="container mb-5">
    <% if (status === 'error') { %>
    <div class="alert alert-danger">
      <%= errorMessage %>
    </div>
    <% } %>

    <div id="header-title" class="d-flex justify-content-center my-3">
      <h1 class="center">Detail Information</h1>
    </div>

    <div class="row d-flex justify-content-center">
      <form id="detailForm" action="" method="post" class="col-lg-8">
        <!-- Personal Details -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Personal Details</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="fullName">Full Name <span class="text-danger">*</span></label>
              <input type="text" id="fullName" class="form-control" name="fullname" readonly value="<%= data.fullname %>">
            </div>
            <div class="form-group mb-3">
              <label for="nickName">Nick Name</label>
              <input type="text" id="nickName" class="form-control" name="nickname" placeholder="optional">
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="dob" class="py-1">Date Of Birth <span class="text-danger">*</span></label>
                <input type="date" id="dob" class="form-control" name="dob" required>
              </div>
              <div class="col-md-6 mb-3">
                <label class="py-1" for="caste">Caste <span class="text-danger">*</span></label>
                <select name="caste" id="caste" class="form-control custom-select" required>
                  <option value="SC">SC</option>
                  <option value="ST">ST</option>
                  <option value="OBC">OBC</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label class="py-1" for="religion">Religion <span class="text-danger">*</span></label>
                <select name="religion" id="religion" class="form-control custom-select" required>
                  <option value="SC">SC</option>
                  <option value="Hindi">Hindi</option>
                  <option value="Muslim">Muslim</option>
                  <option value="Christian">Christian</option>
                  <option value="Jain">Jain</option>
                  <option value="Buddhist">Buddhist</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="py-2" for="designation">Designation <span class="text-danger">*</span></label>
              <select name="designation" id="designation" class="form-control custom-select" required>
                <% designations.forEach(designation => { %>
                <option value="<%= designation %>"><%= designation %></option>
                <% }) %>
              </select>
            </div>
            <div class="form-group mb-3">
              <label class="py-2" for="natureOfJob">Nature of Employment <span class="text-danger">*</span></label>
              <select name="nature_of_job" id="natureOfJob" class="form-control custom-select" required>
                <option value="Permanent">Permanent</option>
                <option value="Contractual">Contractual</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Additional Details -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Additional Details</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="contactLeaderName">Name of the Leader you are regularly in touch with</label>
              <input type="text" id="contactLeaderName" class="form-control" name="contact_leader_name" value="Frank Brano Gomes">
            </div>
          </div>
        </div>

        <!-- Employment Details -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Employment</h4>
          </div>
          <div class="card-body">
            <div class="form-group mb-3">
              <label for="associationName">Employment Organization Name <span class="text-danger">*</span></label>
              <input type="text" id="employmentOrganizationName" class="form-control" name="employment_organization_name" required>
              <!-- <select name="employment_organization_name" id="associationName" class="form-control custom-select">
                <option value="Kalimpong Association">Kalimpong Association</option>
                <option value="Darjeeling Association">Darjeeling Association</option>
                <option value="Kurseong Association">Kurseong Association</option>
                <option value="Sano Thimi Association">Sano Thimi Association</option>
              </select> -->
            </div>
            <div class="form-group mb-3">
              <label class="py-2" for="statusOfEmployment">Status of Employment <span class="text-danger">*</span></label>
              <select name="status_of_employment" id="statusOfEmployment" class="form-control custom-select" disabled>
                <option value="Working" <%= data.status_of_employment === 'Working' ? 'selected' : '' %>>Working</option>
                <option value="Retired" <%= data.status_of_employment === 'Retired' ? 'selected' : '' %>>Retired</option>
              </select>
            </div>
            <div class="form-group mb-3" id="dateOfJoining">
              <label for="dateOfJoining">Date Of Joining <span class="text-danger">*</span></label>
              <input type="date" id="dateOfJoining" class="form-control" name="date_of_joining" required>
            </div>
            <div id="retiredSection" class="f-hidden">
              <div class="form-group mb-3">
                <label for="oppositionMembership">During service, did you take membership of any other opposition? <span class="text-danger">*</span></label>
                <select name="had_taken_opposition_membership" id="oppositionMembership" class="form-control custom-select" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="tradeUnionRight">Did Trade Union Rights exist at the time of your service? <span class="text-danger">*</span></label>
                <select name="trade_union_right_on" id="tradeUnionRight" class="form-control custom-select" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                </select>
              </div>
              <div class="form-group mb-3">
                <label for="has_played_leadership_role">Did you play any leadership role during your service? <span class="text-danger">*</span></label>
                <select name="has_played_leadership_role" id="hasPlayedLeadershipRole" class="form-control custom-select" required>
                  <option value="Yes">Yes</option>
                  <option value="No" selected>No</option>
                </select>
              </div>
              <div class="form-group mb-3 f-hidden" id="whichStageWrapper">
                <label for="whichStage">If yes, at which stage?</label>
                <select name="played_leadership_role_stage" id="whichStage" class="form-control custom-select">
                  <option value="SCC">SCC</option>
                  <option value="Samiti">Samiti</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Residential Address -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Residential Address</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="districtName">District <span class="text-danger">*</span></label>
                <select name="district" id="districtName" class="form-control custom-select" required>
                  <option value="KPG">Kalimpong</option>
                  <option value="DRJ">Darjeeling</option>
                  <option value="KUR">Kurseong</option>
                  <option value="TIM">Sano Thimi</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="municipalityName">Municipality <span class="text-danger">*</span></label>
                <select name="municipality" id="municipalityName" class="form-control custom-select" required>
                  <option value="Pudung">Pudung</option>
                  <option value="Pedong">Pedong</option>
                  <option value="Eagles Den">Eagles Den</option>
                  <option value="Thimi">Thimi</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="blockName">Block <span class="text-danger">*</span></label>
                <select name="block" id="blockName" class="form-control custom-select" required>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="gp">Gram Panchayat <span class="text-danger">*</span></label>
                <select name="gp" id="gp" class="form-control custom-select" required>
                  <option value="P1">P1</option>
                  <option value="P2">P2</option>
                  <option value="P3">P3</option>
                  <option value="P4">P4</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="villageName">Village/Para/Ward Number <span class="text-danger">*</span></label>
                <input type="text" name="village" id="villageName" class="form-control" required>
              </div>
              <div class="col-md-6 mb-3">
                <label for="landMark">Landmark <span class="text-danger">*</span></label>
                <input type="text" name="landmark" id="landMark" class="form-control" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="remarksContent">Remarks</label>
                <textarea name="remarks" id="remarksContent" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>

        <button type="button" id="nextPageBtn" class="btn btn-warning rounded">Next Page</button>
      </form>
    </div>
  </div>
</body>

<style>
  .f-error {
    display: block;
    border: 1px solid red;
  }

  .f-hidden {
    display: none;
  }
</style>

<script>
  $(document).ready(function() {
    var alert = $('#fValidationNotif2');
    alert.addClass('f-hidden');

    $('#fullName').blur(function() {
      var fullName = $(this).val();
      if (fullName === "") {
        $(this).addClass('f-error');
        alert.removeClass('f-hidden');
      } else {
        $(this).removeClass('f-error');
        alert.addClass('f-hidden');
      }
    });

    var retiredSection = $('#retiredSection');
    var dateOfJoining = $('#dateOfJoining');
    var statusOfEmployment = $('#statusOfEmployment');

    function handleEmploymentStatus() {
      var status = statusOfEmployment.val();
      if (status === 'Working') {
        retiredSection.addClass('f-hidden');
        dateOfJoining.removeClass('f-hidden');
      } else {
        retiredSection.removeClass('f-hidden');
        dateOfJoining.addClass('f-hidden');
      }
    }

    handleEmploymentStatus();

    var leadershipRoleProp = $('#hasPlayedLeadershipRole');
    var followUpQuestion = $('#whichStageWrapper');

    leadershipRoleProp.change(function() {
      var answer = $(this).val();
      if (answer === 'Yes') {
        followUpQuestion.removeClass('f-hidden').addClass('f-visible');
      } else {
        followUpQuestion.addClass('f-hidden').removeClass('f-visible');
      }
    });

    // prefill district address data
    $.ajax({
      url: '/session-data',
      method: 'GET',
      success: function(formData) {
        var address = formData.addresses[0];
        $('#districtName').val(address.district);
        $('#municipalityName').val(address.municipality);
        $('#blockName').val(address.block);
        $('#gp').val(address.gp);
        $('#villageName').val(address.village);
        $('#landMark').val(address.landmark);
        $('#remarksContent').val(address.remarks);
      }
    });

    $('#nextPageBtn').click(function(event) {
      event.preventDefault();
      if (!validateForm()) {
        alert.text('Please fill in all required fields.').removeClass('f-hidden');
        return;
      }
      const formData = collectFormData();
      console.log(formData); // Debugging - see the collected data object
      $.ajax({
        url: '/information1', // Change to your endpoint
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(formData),
        success: function(response) {
          // Handle the response
          console.log(response);
          if (response.success) {
            window.location.href = response.redirect;
          }
        },
        error: function(error) {
          // Handle the error
          console.error(error);
        }
      });
    });

    function validateForm() {
      var isValid = true;
      $('#detailForm [required]').each(function() {
        if ($(this).val() === "") {
          $(this).addClass('f-error');
          isValid = false;
        } else {
          $(this).removeClass('f-error');
        }
      });
      return isValid;
    }

    function collectFormData() {
      const form = $('#detailForm');
      const formData = {
        fullname: form.find('[name="fullname"]').val(),
        nickname: form.find('[name="nickname"]').val(),
        dob: form.find('[name="dob"]').val(),
        caste: form.find('[name="caste"]').val(),
        religion: form.find('[name="religion"]').val(),
        contact_leader_name: form.find('[name="contact_leader_name"]').val(),
        status_of_employment: form.find('[name="status_of_employment"]').val(),
        had_taken_opposition_membership: form.find('[name="had_taken_opposition_membership"]').val(),
        trade_union_right_on: form.find('[name="trade_union_right_on"]').val(),
        has_played_leadership_role: form.find('[name="has_played_leadership_role"]').val(),
        played_leadership_role_stage: form.find('[name="played_leadership_role_stage"]').val(),
        job_details: {
          designation: form.find('[name="designation"]').val(),
          nature_of_job: form.find('[name="nature_of_job"]').val(),
          date_of_joining: form.find('[name="date_of_joining"]').val(),
          employment_organization_name: form.find('[name="employment_organization_name"]').val()
        },
        addresses: [{
          district: form.find('[name="district"]').val(),
          municipality: form.find('[name="municipality"]').val(),
          block: form.find('[name="block"]').val(),
          gp: form.find('[name="gp"]').val(),
          village: form.find('[name="village"]').val(),
          landmark: form.find('[name="landmark"]').val(),
          remarks: form.find('[name="remarks"]').val()
        }]
      };

      return formData;
    }
  });
</script>
</html>
