<%- include('partials/base.ejs') %>

<body>
  <div class="container mb-5">
    <div id="header-title" class="d-flex justify-content-center my-3 rounded">
      <h1 class="center f-title">Settings</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form id="addSettingsForm" method="post" class="mb-4">
          <div class="row justify-content-center">
            <div class="col-md-3">
              <div class="form-group">
                <label for="entityType">EntityType</label>
                <select class="form-control" id="entityType" name="entityType" required>
                  <option value="association">Association</option>
                  <option value="districts">Districts</option>
                  <option value="block">Block</option>
                  <option value="municipality">Municipality</option>
                  <option value="designation">Designation</option>
                  <option value="gp">Grampachayat</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="value">Value</label>
                <input type="text" class="form-control" id="value" name="value" required>
              </div>
            </div>
            <div class="col-md-3 my-3 align-self-end">
              <button type="button" id="addBtn" class="btn btn-primary f-btn-col-1">Add</button>
              <a href="/" for="goBack" class="btn btn-secondary f-btn-col-1 mx-3">Go Back</a>
            </div>
            <div class="col-md-3 my-3 align-self-end">
              <label for="importFile" class="btn btn-secondary f-btn-col-1">Import Excel</label>
              <input type="file" id="importFile" class="d-none" accept=".xlsx, .xls">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm">
                <h5>Search</h5>
              </div>
              <div class="col-sm d-flex justify-content-end">
                <input type="text" class="form-control" id="settingsSearchValue" name="searchValue" placeholder="Search...">
                <button type="button" id="searchBtn" class="btn btn-secondary ms-2 f-btn-col-1">Search</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered" id="resultsTable">
              <thead>
                <tr>
                  <th>EntityType</th>
                  <th>Value</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Results will be populated here -->
                <% data.forEach(result => { %>
                <tr>
                  <td><%= result.entity_type %></td>
                  <td>
                    <input type="text" class="form-control" value="<%= result.value %>" data-id="<%= result._id %>" readonly>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary f-btn-col-1 edit-btn" data-id="<%= result._id %>">Edit</button>
                    <button class="btn btn-sm btn-danger f-btn-col-1 delete-btn" data-id="<%= result._id %>">Delete</button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<link rel="stylesheet" href="/css/pages/settings.css">
<script lang="javascript" src="dist/xlsx.full.min.js"></script>
<script src="/js/pages/settings.js"></script>

</html>
